<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>BrainstormBoost</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css-1.5.5.min.css"
    />
  </head>
  <body>
    <h1>BrainstormBoost</h1>
    <fieldset>
      <label>Enter your name:</label>
      <input />
      <label>Enter your skills:</label>
      <textarea></textarea>
      <label>Enter your interests:</label>
      <textarea></textarea>
    </fieldset>
    <button>Add a new member</button>
    <button>Done</button>
  </body>
</html>
